@import url(../../html/main.css);

body {
    background-color: rgb(3, 51, 51);
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid 16px #0a2429;
    padding: 16px;
}
section.intro {
    justify-content: center;
    align-items: center;
}
section h1 {
    font-size: 10em;
    color: rgb(104, 231, 223);
}

section h2 {
    font-size: 5em;
    color: rgb(234, 224, 224);
    background-color: rgb(3, 45, 15);
    padding: 8px;
    border-radius: 4px;
}

section.page-1 {
    background-image: url(assets/Screen1.png); 
    background-size: cover;
    align-items: flex-end;
}

section.page-2 {
    background-image: url(assets/Screen2.png); 
    background-size: cover;
}

section.page-3 {
    background-image: url(assets/Screen3.png); 
    background-size: cover;
}

section.page-4 {
    background-image: url(assets/Screen4.png); 
    background-size: cover;
}

section.page-5 {
    background-image: url(assets/Screen5.png); 
    background-size: cover;
}