@import url(../../html/main.css);

body {
    background-color: brown;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 16px white;
}

section h1 {
    font-size: 3em;
    color: aquamarine;
}

section.page-1 {
    background-image: url();
}

