@import url(../../html/main.css);

body {
    background-color: rgb(67, 81, 67);
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 16px white;
}

section h1 {
    font-size: 3em;
    color: aquamarine;
    text-align: center;
}

section.img-1 {
    height: auto;
    width: 100%;
    padding: 5%;
}

section.img-2 {
    height: auto;
    width: 100%;
    padding: 5%;
    overflow: hidden;
}

section.img-3 {
    height: auto;
    width: 100%;
    padding: 5%;
}

section.img-4 {
    height: auto;
    width: 100%;
    padding: 5%;
    overflow: hidden;
}

section.img-5 {
    height: auto;
    width: 100%;
    padding: 5%;
    overflow: hidden;
}

section.img-6 {
    height: auto;
    padding: 5%;
    overflow: hidden;
}

section.img-7 {
    height: auto;
    width: 100%;
    padding: 5%;
    overflow: hidden;
}