@import url(../../html/main.css);

body {
    background-color: cornflowerblue;
}

section{
    width: 100vw;
    height: 100vh; 
    display: flex;
    border: solid 16px black;
    flex-direction: column;
}
section h1{
    font-size: 3em;
    color: white;
}

section h2{
    font-size: 3em;
    color:white;
}

section h3{
    font-size: 3em;
    color:white;
}

section h4{
    font-size: 3em;
    color: white;
}

section h5{
    font-size: 3em;
    color: white;
}

.section1{
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.section2{
    background-image: url(asset/beginning.png);
    background-size: cover;
    justify-content: end;
    align-items: flex-end;
}

.section3{
    background-image: url(asset/MIDWAY.png);
    background-size: cover;
    justify-content: end;
    align-items: flex-end;
}
.section4{
    background-image: url(asset/gap.png);
    background-size: cover;
    justify-content: end;
    align-items: flex-end;
}
.section5{
    background-image: url(asset/temple.png);
    background-size: cover;
    justify-content: end;
    align-items: flex-end;
}
