body h1{
    text-align: center;
    font-size: 4em;
}

body p{
    text-align: center;
    font-size: 2em;
}

body ul{
    text-align: center;
    font-size: 1.5em;
}

body {
    background-color: rgb(255, 255, 255);
}