@import url(../../html/main.css);

body {
    background-color: rgb(150, 240, 240);
}
section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 16px rgb(205, 139, 139);
}
section h1 {
    font-size: 4em;
    color: coral;
}

section.img-4 {
    height: auto;
    max-width: 95%;
    padding: 5%;
}

section.img-5 {
    height: auto;
    max-width: 95%;
    padding: 5%;
    overflow: hidden
}

section.img-6 {
    height: auto;
    max-width: 95%;
    padding: 5%;
}

section.img-7 {
    height: auto;
    max-width: 95%;
    padding: 5%;
}

section.img-8 {
    height: auto;
    max-width: 95%;
    padding: 5%;
}