@import url(../../html/main.css);

body {
background-color: rgb(218, 94, 94);
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 16px rgb(167, 167, 167);
}
section h1 {
    font-size: 6em;
    color: black;
}

section.page-1 {
    background-image: url(asset/);
    background-size: cover;
}