@import url(../../html/main.css);

body {
background-color: rgb(167, 167, 167);
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid 16px rgb(167, 167, 167);
}
section.intro {
    justify-content: center;
    align-items: center;
}
section h1 {
    font-size: 6em;
    color: black;
    text-align: center;
}
section p {
    background-color: rgb(255, 217, 0);
    padding: 4px;
    border-radius: 4px;
}

section.page-1 {
    
    background-image: url(asset/Temple_Montagne/Capture_Point_de_départ2.jpg);
    background-size: cover;
    background-position: center;
}

section.page-2 {
    background-image: url(asset/Temple_Montagne/Capture_Progession_à_flanc_de_montagne.jpg);
    background-size: cover;
    background-position: center;
}

section.page-3 {
    background-image: url(asset/Temple_Montagne/Capture_Vue_obstacle2.jpg);
    background-size: cover;
    background-position: center;
}

section.page-4 {
    background-image: url(asset/Temple_Montagne/Capture_Vue_juste_après_obstacle.jpg);
    background-size: cover;
    background-position: center;
}
section.page-5 {
    background-image: url(asset/Temple_Montagne/Capture_Vue_devant_le_temple.jpg);
    background-size: cover;
    background-position: center;
}
section.page-6 {
    background-image: url(asset/Temple_Montagne/Capture_Intérieur_temple.jpg);
    background-size: cover;
    background-position: center;
}
section.page-7 {
    background-image: url(asset/Temple_Montagne/Capture_Vue_générale2.jpg);
    background-size: cover;
    background-position: center;
}