@import url(../../html/main.css);

body {
background-color: rgb(238, 135, 135);
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid 16px rgb(167, 167, 167);
}
section.intro {
    justify-content: center;
    align-items: center;
}
section h1 {
    font-size: 6em;
    color: black;
}
section p {
    background-color: rgb(255, 217, 0);
    padding: 4px;
    border-radius: 4px;
}

section.page-1 {
    background-image: url(asset/Capture\ Point\ de\ départ.jpg);
    background-size: cover;
}

section.page-2 {
    background-image: url(asset/Capture\ Progession\ à\ flanc\ de\ montagne.jpg);
    background-size: cover;
}

section.page-3 {
    background-image: url(asset/Capture\ Vue\ obstacle.jpg);
    background-size: cover;
}

section.page-4 {
    background-image: url(asset/Capture\ Vue\ juste\ après\ l\'obstacle.jpg);
    background-size: cover;
}
section.page-5 {
    background-image: url(asset/Capture\ vue\ sur\ le\ temple.jpg);
    background-size: cover;
}
section.page-6 {
    background-image: url(asset/Capture\ Intérieur\ temple.jpg);
    background-size: cover;
}
section.page-7 {
    background-image: url(asset/Capture\ Vue\ générale.jpg);
    background-size: cover;
}