@import url(../../html/main.css);

body {
    background-color: rgb(231, 168, 109);
}
section {
 width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: solid 72px rgb(251, 182, 117);
}
section.intro {
    justify-content: center;
    align-items: center;
}
section h1 {
    font-size: 6em;
    font-style: italic;
color: rgb(0, 0, 0);
font-weight: bold;
text-decoration: underline;
text-align: center;
text-decoration-style:solid;
}
section p {
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    padding: 8px;
    border-radius: 4px;
    text-align: right;
    align-content: inherit; 
    text-align: center;
    z-index: 100; 
    position: absolute; 
     top: 0px;
     left: 0px;
}
section.page-1 {
    background-image: url(assets/image\ 1\ exo\ 2.jpg)
    
}
section.page-2 {
    background-image: url(assets/image\ 2\ exo\ 2.jpg)
    
}
section.page-3 {
    background-image: url(assets/image\ 3\ exo\ 2.jpg)
    
}
