@import url(../../html/main.css);

body {
    background-color: rgb(231, 168, 109);
}
section {
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border: solid 72px rgb(251, 182, 117);

}
section.intro {
    justify-content: center;
    align-items: center;
}
section h1 {
    font-size: 6em;
    font-style: italic;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    text-decoration-style:solid;
    background-size: cover;
    background-position: center ;
}
section {
    /* ... */
    background-size: cover;
    background-position: center;
  }
section p {
    background-color: #ccb873;
    text-align: right;
    align-content: inherit; 
    text-align: center;
    z-index: 100; 
    position: absolute; 
     top: 0px;
     left: 0px;
}
section.intro {
    justify-content: center;
    align-items: center;
}
     
     
section.page-2 {
    background-image: url(assets/exo2_1.png)
    
}
section.page-3 {
    background-image: url(assets/exo2_2.png)
    
}
section.page-4 {
    background-image: url(assets/exo2_3.png)
    
}
section.page-5 {
    background-image: url(assets/exo2_4.png)
    
}
section.page-6 {
    background-image: url(assets/exo2_5.png)
    
}
section.page-7 {
    background-image: url(assets/exo2_6.png)
    
}
section.page-8 {
    background-image: url(assets/exo2_7.png)
    
}